<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_tT0xQD2CEemkGoZ7wgtpmw" specification="interface:&#xA;&#x9;const moistureSensorPin: string = &quot;A0&quot;&#xA;&#xA;&#x9;var isValveOn: boolean = false&#xA;&#x9;var moisture: integer&#xA;&#x9;var isRaining: boolean = false&#xA;&#x9;var mode: string = &quot;automatic&quot;&#xA;&#x9;&#xA;&#x9;in event pressButtonB1&#xA;&#x9;in event pressButtonB2&#xA;&#x9;&#xA;&#x9;operation getMoistureSensorData&#xA;&#x9;&#x9;(pin: string): integer&#xA;&#x9;operation getRainSensorData&#xA;&#x9;&#x9;(): boolean&#xA;&#x9;operation turnOnValve(): void&#xA;&#x9;operation turnOffValve(): void&#xA;&#x9;operation clearLCD(): void&#xA;&#x9;operation displayMoistureLCD(moisture: integer): void&#xA;&#x9;operation displayRainingLCD(isRaining: boolean): void&#xA;&#x9;operation displayModeLCD(mode: string): void" name="PlantWatering">
    <regions xmi:id="_tT636T2CEemkGoZ7wgtpmw" name="Main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_tUHFJj2CEemkGoZ7wgtpmw">
        <outgoingTransitions xmi:id="_nxsjID77Eem-KpZWLMhx-Q" specification="" target="_Oeyw8D76Eem-KpZWLMhx-Q"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_Oeyw8D76Eem-KpZWLMhx-Q" specification="" name="Main" incomingTransitions="_nxsjID77Eem-KpZWLMhx-Q">
        <outgoingTransitions xmi:id="_fuCjQED_Eemex77KAI0DhQ" specification="every 5s" target="_cNX44ED_Eemex77KAI0DhQ"/>
        <regions xmi:id="_Oe43kD76Eem-KpZWLMhx-Q" name="Main region">
          <vertices xsi:type="sgraph:State" xmi:id="_L-tu8D78Eem-KpZWLMhx-Q" specification="entry/turnOffValve();&#xD;&#xA;isValveOn = false&#xD;&#xA;" name="ValveOff" incomingTransitions="_wS-owEfwEemlR61uiwgvjg">
            <outgoingTransitions xmi:id="_ovP8IEfxEemlR61uiwgvjg" specification="always" target="_fDqnoEfxEemlR61uiwgvjg"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_MY9a8D78Eem-KpZWLMhx-Q" specification="entry/isValveOn = true;&#xD;&#xA;turnOnValve()&#xD;&#xA;" name="ValveOn" incomingTransitions="_JHGpsEfxEemlR61uiwgvjg">
            <outgoingTransitions xmi:id="_masfkEfxEemlR61uiwgvjg" specification="always" target="_fDqnoEfxEemlR61uiwgvjg"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_fDqnoEfxEemlR61uiwgvjg" specification="" name="Idle" incomingTransitions="_iPcnIEfxEemlR61uiwgvjg _kFKyoEfxEemlR61uiwgvjg _masfkEfxEemlR61uiwgvjg _ovP8IEfxEemlR61uiwgvjg _j2dDYEgAEemlR61uiwgvjg">
            <outgoingTransitions xmi:id="_hWnj4EgAEemlR61uiwgvjg" specification="pressButtonB1/&#xD;&#xA;mode = &quot;manual&quot;;&#xD;&#xA;displayModeLCD(mode)" target="_LCaiAEgAEemlR61uiwgvjg"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_QxQ38D78Eem-KpZWLMhx-Q">
            <outgoingTransitions xmi:id="_iPcnIEfxEemlR61uiwgvjg" specification="" target="_fDqnoEfxEemlR61uiwgvjg"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_LCaiAEgAEemlR61uiwgvjg" specification="" name="Manual Control" incomingTransitions="_hWnj4EgAEemlR61uiwgvjg _rsoDgEgCEemlR61uiwgvjg">
            <outgoingTransitions xmi:id="_j2dDYEgAEemlR61uiwgvjg" specification="pressButtonB1/&#xD;&#xA;mode = &quot;automatic&quot;;&#xD;&#xA;displayModeLCD(mode)" target="_fDqnoEfxEemlR61uiwgvjg"/>
            <regions xmi:id="_LCbwIEgAEemlR61uiwgvjg" name="Main region">
              <vertices xsi:type="sgraph:Entry" xmi:id="_PW-ugEgAEemlR61uiwgvjg">
                <outgoingTransitions xmi:id="_V8J2QEgBEemlR61uiwgvjg" specification="" target="_SZ-I8EgBEemlR61uiwgvjg"/>
              </vertices>
              <vertices xsi:type="sgraph:State" xmi:id="_Ps9lkEgAEemlR61uiwgvjg" name="ValveOn" incomingTransitions="_VjiXYEgAEemlR61uiwgvjg _YnKgcEgAEemlR61uiwgvjg">
                <outgoingTransitions xmi:id="_W5FOAEgAEemlR61uiwgvjg" specification="pressButtonB2 / turnOffValve(); isValveOn = false" target="_P3LRgEgAEemlR61uiwgvjg"/>
              </vertices>
              <vertices xsi:type="sgraph:State" xmi:id="_P3LRgEgAEemlR61uiwgvjg" name="ValveOff" incomingTransitions="_W5FOAEgAEemlR61uiwgvjg _eMvo4EgAEemlR61uiwgvjg">
                <outgoingTransitions xmi:id="_VjiXYEgAEemlR61uiwgvjg" specification="pressButtonB2 / turnOnValve(); isValveOn = true" target="_Ps9lkEgAEemlR61uiwgvjg"/>
              </vertices>
              <vertices xsi:type="sgraph:Choice" xmi:id="_SZ-I8EgBEemlR61uiwgvjg" incomingTransitions="_V8J2QEgBEemlR61uiwgvjg">
                <outgoingTransitions xmi:id="_YnKgcEgAEemlR61uiwgvjg" specification="[isValveOn == true]" target="_Ps9lkEgAEemlR61uiwgvjg"/>
                <outgoingTransitions xmi:id="_eMvo4EgAEemlR61uiwgvjg" specification="else" target="_P3LRgEgAEemlR61uiwgvjg"/>
              </vertices>
            </regions>
          </vertices>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_cNX44ED_Eemex77KAI0DhQ" name="Timer interrupt" incomingTransitions="_fuCjQED_Eemex77KAI0DhQ">
        <regions xmi:id="_cNd_gED_Eemex77KAI0DhQ" name="Main region">
          <vertices xsi:type="sgraph:Entry" xmi:id="_iCaZoED_Eemex77KAI0DhQ">
            <outgoingTransitions xmi:id="_FCJS8EEAEemex77KAI0DhQ" specification="" target="_ifTxAED_Eemex77KAI0DhQ"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_ifTxAED_Eemex77KAI0DhQ" specification="entry/ &#xD;&#xA;moisture = getMoistureSensorData(moistureSensorPin);&#xD;&#xA;isRaining = getRainSensorData()" name="CheckSensors" incomingTransitions="_FCJS8EEAEemex77KAI0DhQ">
            <outgoingTransitions xmi:id="_qHw4AESgEemqgdDY3YLyVg" specification="always" target="_v9cUoEEAEemex77KAI0DhQ"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_v9cUoEEAEemex77KAI0DhQ" specification="entry/ clearLCD();&#xD;&#xA;displayMoistureLCD(moisture);&#xD;&#xA;//displayRainingLCD(isRaining);&#xD;&#xA;displayModeLCD(mode)" name="Display" incomingTransitions="_qHw4AESgEemqgdDY3YLyVg">
            <outgoingTransitions xmi:id="_BXuI4EgBEemlR61uiwgvjg" specification="always" target="_Am5v8EgBEemlR61uiwgvjg"/>
          </vertices>
          <vertices xsi:type="sgraph:Choice" xmi:id="_Am5v8EgBEemlR61uiwgvjg" incomingTransitions="_BXuI4EgBEemlR61uiwgvjg">
            <outgoingTransitions xmi:id="_rsoDgEgCEemlR61uiwgvjg" specification="[mode == &quot;manual&quot;]" target="_LCaiAEgAEemlR61uiwgvjg"/>
            <outgoingTransitions xmi:id="_f7Y_MEgEEemlR61uiwgvjg" specification="else" target="_YiIKEEftEemlR61uiwgvjg"/>
          </vertices>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:Choice" xmi:id="_YiIKEEftEemlR61uiwgvjg" incomingTransitions="_f7Y_MEgEEemlR61uiwgvjg">
        <outgoingTransitions xmi:id="_wS-owEfwEemlR61uiwgvjg" specification="[isValveOn == true &amp;&amp; (isRaining == true || moisture >= 50)]" target="_L-tu8D78Eem-KpZWLMhx-Q"/>
        <outgoingTransitions xmi:id="_JHGpsEfxEemlR61uiwgvjg" specification="[isValveOn == false &amp;&amp; isRaining == false &amp;&amp; moisture &lt; 50]" target="_MY9a8D78Eem-KpZWLMhx-Q"/>
        <outgoingTransitions xmi:id="_kFKyoEfxEemlR61uiwgvjg" specification="else" target="_fDqnoEfxEemlR61uiwgvjg"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_tT635j2CEemkGoZ7wgtpmw" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_tT0xQD2CEemkGoZ7wgtpmw" measurementUnit="Pixel">
    <children xmi:id="_tUA-gD2CEemkGoZ7wgtpmw" type="Region" element="_tT636T2CEemkGoZ7wgtpmw">
      <children xsi:type="notation:DecorationNode" xmi:id="_tUHFID2CEemkGoZ7wgtpmw" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_tUHFIT2CEemkGoZ7wgtpmw" fontHeight="10"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_tUHFIj2CEemkGoZ7wgtpmw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_tUHFIz2CEemkGoZ7wgtpmw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_tUHFJz2CEemkGoZ7wgtpmw" type="Entry" element="_tUHFJj2CEemkGoZ7wgtpmw">
          <children xmi:id="_tUHFKz2CEemkGoZ7wgtpmw" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_tUHFLj2CEemkGoZ7wgtpmw" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_tUHFLz2CEemkGoZ7wgtpmw"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_tUHFMD2CEemkGoZ7wgtpmw"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_tUHFLD2CEemkGoZ7wgtpmw" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_tUHFLT2CEemkGoZ7wgtpmw"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_tUHFKD2CEemkGoZ7wgtpmw" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_tUHFKT2CEemkGoZ7wgtpmw" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_tUHFMT2CEemkGoZ7wgtpmw" x="253" width="15" height="15"/>
        </children>
        <children xmi:id="_Oe--MD76Eem-KpZWLMhx-Q" type="State" element="_Oeyw8D76Eem-KpZWLMhx-Q">
          <children xsi:type="notation:DecorationNode" xmi:id="_Oe--ND76Eem-KpZWLMhx-Q" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_Oe--NT76Eem-KpZWLMhx-Q" fontHeight="10" lineColor="0"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_Oe--Nj76Eem-KpZWLMhx-Q"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_Oe--Nz76Eem-KpZWLMhx-Q" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_Oe--OD76Eem-KpZWLMhx-Q" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Oe--OT76Eem-KpZWLMhx-Q"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_OfFE0D76Eem-KpZWLMhx-Q" type="StateFigureCompartment">
            <children xmi:id="_uoebgEgAEemlR61uiwgvjg" type="Region" element="_Oe43kD76Eem-KpZWLMhx-Q">
              <children xsi:type="notation:DecorationNode" xmi:id="_uoebgUgAEemlR61uiwgvjg" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_uoebgkgAEemlR61uiwgvjg" fontHeight="10" bold="true"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_uoebg0gAEemlR61uiwgvjg"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_uoebhEgAEemlR61uiwgvjg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_uoebhUgAEemlR61uiwgvjg" type="State" element="_L-tu8D78Eem-KpZWLMhx-Q">
                  <children xsi:type="notation:DecorationNode" xmi:id="_uoebhkgAEemlR61uiwgvjg" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_uoebh0gAEemlR61uiwgvjg" fontHeight="10"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_uoebiEgAEemlR61uiwgvjg"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_uoebiUgAEemlR61uiwgvjg" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_uoebikgAEemlR61uiwgvjg" type="StateTextCompartmentExpression" fontName="Verdana" fontHeight="10" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_uoebi0gAEemlR61uiwgvjg"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_uoebjEgAEemlR61uiwgvjg" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_uoebjUgAEemlR61uiwgvjg" fontName="Verdana" fontHeight="10" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_uoebjkgAEemlR61uiwgvjg"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_uoebj0gAEemlR61uiwgvjg" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_uoebkEgAEemlR61uiwgvjg" x="151" y="190" width="176" height="87"/>
                </children>
                <children xmi:id="_uoebkUgAEemlR61uiwgvjg" type="State" element="_MY9a8D78Eem-KpZWLMhx-Q">
                  <children xsi:type="notation:DecorationNode" xmi:id="_uoebkkgAEemlR61uiwgvjg" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_uoebk0gAEemlR61uiwgvjg" fontHeight="10"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_uoeblEgAEemlR61uiwgvjg"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_uoeblUgAEemlR61uiwgvjg" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_uoeblkgAEemlR61uiwgvjg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_uoebl0gAEemlR61uiwgvjg"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_uoebmEgAEemlR61uiwgvjg" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_uoebmUgAEemlR61uiwgvjg" fontName="Verdana" fontHeight="10" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_uoebmkgAEemlR61uiwgvjg"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_uoebm0gAEemlR61uiwgvjg" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_uoebnEgAEemlR61uiwgvjg" x="77" y="-1" width="191" height="87"/>
                </children>
                <children xmi:id="_uoebnUgAEemlR61uiwgvjg" type="State" element="_fDqnoEfxEemlR61uiwgvjg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_uoebnkgAEemlR61uiwgvjg" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_uoebn0gAEemlR61uiwgvjg" fontHeight="10"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_uoeboEgAEemlR61uiwgvjg"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_uoeboUgAEemlR61uiwgvjg" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_uoebokgAEemlR61uiwgvjg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_uoebo0gAEemlR61uiwgvjg"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_uoebpEgAEemlR61uiwgvjg" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_uoebpUgAEemlR61uiwgvjg" fontName="Verdana" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_uoebpkgAEemlR61uiwgvjg"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_uoebp0gAEemlR61uiwgvjg" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_uoebqEgAEemlR61uiwgvjg" x="70" y="104" width="205" height="61"/>
                </children>
                <children xmi:id="_uoebqUgAEemlR61uiwgvjg" type="Entry" element="_QxQ38D78Eem-KpZWLMhx-Q">
                  <children xmi:id="_uoebqkgAEemlR61uiwgvjg" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_uoebq0gAEemlR61uiwgvjg" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_uoebrEgAEemlR61uiwgvjg"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_uoebrUgAEemlR61uiwgvjg"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_uoebrkgAEemlR61uiwgvjg" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_uoebr0gAEemlR61uiwgvjg"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_uoebsEgAEemlR61uiwgvjg" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_uoebsUgAEemlR61uiwgvjg" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_uoebskgAEemlR61uiwgvjg" y="121" width="15" height="15"/>
                </children>
                <children xmi:id="_uoebs0gAEemlR61uiwgvjg" type="State" element="_LCaiAEgAEemlR61uiwgvjg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_uoebtEgAEemlR61uiwgvjg" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_uoebtUgAEemlR61uiwgvjg" fontHeight="10"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_uoebtkgAEemlR61uiwgvjg"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_uoebt0gAEemlR61uiwgvjg" type="StateTextCompartment" collapsed="true">
                    <children xsi:type="notation:Shape" xmi:id="_uoebuEgAEemlR61uiwgvjg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_uoebuUgAEemlR61uiwgvjg"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_uoebukgAEemlR61uiwgvjg" type="StateFigureCompartment">
                    <children xmi:id="_uoebu0gAEemlR61uiwgvjg" type="Region" element="_LCbwIEgAEemlR61uiwgvjg">
                      <children xsi:type="notation:DecorationNode" xmi:id="_uoebvEgAEemlR61uiwgvjg" type="RegionName">
                        <styles xsi:type="notation:ShapeStyle" xmi:id="_uoebvUgAEemlR61uiwgvjg"/>
                        <layoutConstraint xsi:type="notation:Location" xmi:id="_uoebvkgAEemlR61uiwgvjg"/>
                      </children>
                      <children xsi:type="notation:Shape" xmi:id="_uoebv0gAEemlR61uiwgvjg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                        <children xmi:id="_uoebwEgAEemlR61uiwgvjg" type="Entry" element="_PW-ugEgAEemlR61uiwgvjg">
                          <children xmi:id="_uoebwUgAEemlR61uiwgvjg" type="BorderItemLabelContainer">
                            <children xsi:type="notation:DecorationNode" xmi:id="_uoebwkgAEemlR61uiwgvjg" type="BorderItemLabel">
                              <styles xsi:type="notation:ShapeStyle" xmi:id="_uoebw0gAEemlR61uiwgvjg"/>
                              <layoutConstraint xsi:type="notation:Location" xmi:id="_uoebxEgAEemlR61uiwgvjg"/>
                            </children>
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_uoebxUgAEemlR61uiwgvjg" fontName="Verdana" lineColor="4210752"/>
                            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_uoebxkgAEemlR61uiwgvjg"/>
                          </children>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_uoebx0gAEemlR61uiwgvjg" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                          <styles xsi:type="notation:NamedStyle" xmi:id="_uoebyEgAEemlR61uiwgvjg" name="allowColors"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_uoebyUgAEemlR61uiwgvjg" x="113" y="-42"/>
                        </children>
                        <children xmi:id="_uoebykgAEemlR61uiwgvjg" type="State" element="_Ps9lkEgAEemlR61uiwgvjg">
                          <children xsi:type="notation:DecorationNode" xmi:id="_uoeby0gAEemlR61uiwgvjg" type="StateName">
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_uoebzEgAEemlR61uiwgvjg" fontHeight="10"/>
                            <layoutConstraint xsi:type="notation:Location" xmi:id="_uoebzUgAEemlR61uiwgvjg"/>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_uoebzkgAEemlR61uiwgvjg" type="StateTextCompartment">
                            <children xsi:type="notation:Shape" xmi:id="_uoebz0gAEemlR61uiwgvjg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_uoeb0EgAEemlR61uiwgvjg"/>
                            </children>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_uoeb0UgAEemlR61uiwgvjg" type="StateFigureCompartment"/>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_uoeb0kgAEemlR61uiwgvjg" fontName="Verdana" lineColor="12632256"/>
                          <styles xsi:type="notation:FontStyle" xmi:id="_uoeb00gAEemlR61uiwgvjg"/>
                          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_uoeb1EgAEemlR61uiwgvjg" name="isHorizontal" booleanValue="true"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_uoeb1UgAEemlR61uiwgvjg" x="401" y="22" width="78" height="63"/>
                        </children>
                        <children xmi:id="_uoeb1kgAEemlR61uiwgvjg" type="State" element="_P3LRgEgAEemlR61uiwgvjg">
                          <children xsi:type="notation:DecorationNode" xmi:id="_uoeb10gAEemlR61uiwgvjg" type="StateName">
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_uoeb2EgAEemlR61uiwgvjg" fontHeight="10"/>
                            <layoutConstraint xsi:type="notation:Location" xmi:id="_uoeb2UgAEemlR61uiwgvjg"/>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_uoeb2kgAEemlR61uiwgvjg" type="StateTextCompartment">
                            <children xsi:type="notation:Shape" xmi:id="_uoeb20gAEemlR61uiwgvjg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_uoeb3EgAEemlR61uiwgvjg"/>
                            </children>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_uoeb3UgAEemlR61uiwgvjg" type="StateFigureCompartment"/>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_uoeb3kgAEemlR61uiwgvjg" fontName="Verdana" lineColor="12632256"/>
                          <styles xsi:type="notation:FontStyle" xmi:id="_uoeb30gAEemlR61uiwgvjg"/>
                          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_uoeb4EgAEemlR61uiwgvjg" name="isHorizontal" booleanValue="true"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_uoeb4UgAEemlR61uiwgvjg" x="-14" y="32"/>
                        </children>
                        <children xsi:type="notation:Shape" xmi:id="_SZ-wAEgBEemlR61uiwgvjg" type="Choice" element="_SZ-I8EgBEemlR61uiwgvjg" fontName="Verdana" lineColor="4210752">
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_SZ-wAUgBEemlR61uiwgvjg" x="163" y="-13"/>
                        </children>
                        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_uoeb4kgAEemlR61uiwgvjg"/>
                      </children>
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_uoeb40gAEemlR61uiwgvjg" fontName="Verdana" lineColor="12632256"/>
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_uoeb5EgAEemlR61uiwgvjg"/>
                    </children>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_uoeb5UgAEemlR61uiwgvjg" fontName="Verdana" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_uoeb5kgAEemlR61uiwgvjg"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_uoeb50gAEemlR61uiwgvjg" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_uoeb6EgAEemlR61uiwgvjg" x="7" y="322" width="536" height="220"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_uoeb6UgAEemlR61uiwgvjg"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_uoeb6kgAEemlR61uiwgvjg" fontName="Verdana" fontHeight="10" lineColor="0"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_uoeb60gAEemlR61uiwgvjg"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_Oe--MT76Eem-KpZWLMhx-Q" fontName="Verdana" fontHeight="10" lineColor="0"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_Oe--Mj76Eem-KpZWLMhx-Q"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_OfFE0T76Eem-KpZWLMhx-Q" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Oe--Mz76Eem-KpZWLMhx-Q" x="13" y="42" width="588" height="642"/>
        </children>
        <children xmi:id="_cNkGIED_Eemex77KAI0DhQ" type="State" element="_cNX44ED_Eemex77KAI0DhQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_cNkGJED_Eemex77KAI0DhQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_cNkGJUD_Eemex77KAI0DhQ" fontHeight="10"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_cNkGJkD_Eemex77KAI0DhQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_cNkGJ0D_Eemex77KAI0DhQ" type="StateTextCompartment" collapsed="true">
            <children xsi:type="notation:Shape" xmi:id="_cNkGKED_Eemex77KAI0DhQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_cNkGKUD_Eemex77KAI0DhQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_cNqMwED_Eemex77KAI0DhQ" type="StateFigureCompartment">
            <children xmi:id="_X-CBsEfxEemlR61uiwgvjg" type="Region" element="_cNd_gED_Eemex77KAI0DhQ">
              <children xsi:type="notation:DecorationNode" xmi:id="_X-CBsUfxEemlR61uiwgvjg" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_X-CBskfxEemlR61uiwgvjg"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_X-CBs0fxEemlR61uiwgvjg"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_X-CBtEfxEemlR61uiwgvjg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_X-CBtUfxEemlR61uiwgvjg" type="Entry" element="_iCaZoED_Eemex77KAI0DhQ">
                  <children xmi:id="_X-CBtkfxEemlR61uiwgvjg" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_X-CBt0fxEemlR61uiwgvjg" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_X-CBuEfxEemlR61uiwgvjg"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_X-CBuUfxEemlR61uiwgvjg"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_X-CBukfxEemlR61uiwgvjg" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_X-CBu0fxEemlR61uiwgvjg"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_X-CBvEfxEemlR61uiwgvjg" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_X-CBvUfxEemlR61uiwgvjg" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_X-CBvkfxEemlR61uiwgvjg" x="178" y="-28"/>
                </children>
                <children xmi:id="_X-CBv0fxEemlR61uiwgvjg" type="State" element="_ifTxAED_Eemex77KAI0DhQ">
                  <children xsi:type="notation:DecorationNode" xmi:id="_X-CBwEfxEemlR61uiwgvjg" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_X-CBwUfxEemlR61uiwgvjg"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_X-CBwkfxEemlR61uiwgvjg"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_X-CBw0fxEemlR61uiwgvjg" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_X-CBxEfxEemlR61uiwgvjg" type="StateTextCompartmentExpression" fontName="Verdana" fontHeight="10" lineColor="0">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_X-CBxUfxEemlR61uiwgvjg"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_X-CBxkfxEemlR61uiwgvjg" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_X-CBx0fxEemlR61uiwgvjg" fontName="Verdana" fontHeight="10" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_X-CByEfxEemlR61uiwgvjg"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_X-CByUfxEemlR61uiwgvjg" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_X-CBykfxEemlR61uiwgvjg" x="38" y="7" width="398" height="89"/>
                </children>
                <children xmi:id="_X-CBy0fxEemlR61uiwgvjg" type="State" element="_v9cUoEEAEemex77KAI0DhQ">
                  <children xsi:type="notation:DecorationNode" xmi:id="_X-CBzEfxEemlR61uiwgvjg" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_X-CBzUfxEemlR61uiwgvjg"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_X-CBzkfxEemlR61uiwgvjg"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_X-CBz0fxEemlR61uiwgvjg" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_X-CB0EfxEemlR61uiwgvjg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_X-CB0UfxEemlR61uiwgvjg"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_X-CB0kfxEemlR61uiwgvjg" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_X-CB00fxEemlR61uiwgvjg" fontName="Verdana" fontHeight="10" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_X-CB1EfxEemlR61uiwgvjg"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_X-CB1UfxEemlR61uiwgvjg" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_X-CB1kfxEemlR61uiwgvjg" x="91" y="160"/>
                </children>
                <children xsi:type="notation:Shape" xmi:id="_Am6-EEgBEemlR61uiwgvjg" type="Choice" element="_Am5v8EgBEemlR61uiwgvjg" fontName="Verdana" lineColor="4210752">
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Am6-EUgBEemlR61uiwgvjg" x="24" y="283"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_X-CB2UfxEemlR61uiwgvjg"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_X-CB2kfxEemlR61uiwgvjg" fontName="Verdana" fontHeight="10" lineColor="0"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_X-CB20fxEemlR61uiwgvjg"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_cNkGIUD_Eemex77KAI0DhQ" fontName="Verdana" fontHeight="10" lineColor="0"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_cNkGIkD_Eemex77KAI0DhQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_cNqMwUD_Eemex77KAI0DhQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_cNkGI0D_Eemex77KAI0DhQ" x="685" y="126" width="476" height="426"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="_X-CB10fxEemlR61uiwgvjg" type="Choice" element="_YiIKEEftEemlR61uiwgvjg" fontName="Verdana" lineColor="4210752">
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_X-CB2EfxEemlR61uiwgvjg" x="625" y="234" width="15" height="15"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_tUHFJD2CEemkGoZ7wgtpmw"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_tUA-gT2CEemkGoZ7wgtpmw" fontName="Verdana" fontHeight="10" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_tUHFJT2CEemkGoZ7wgtpmw" x="-744" width="1189" height="727"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_tUTSZz2CEemkGoZ7wgtpmw" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_tUTSaT2CEemkGoZ7wgtpmw" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_tUTSaj2CEemkGoZ7wgtpmw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_tUTSaz2CEemkGoZ7wgtpmw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_tUTSbD2CEemkGoZ7wgtpmw" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_tUTSbT2CEemkGoZ7wgtpmw"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_tUTSbj2CEemkGoZ7wgtpmw" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:BooleanValueStyle" xmi:id="_tT635z2CEemkGoZ7wgtpmw" name="inlineDefinitionSection"/>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_tT636D2CEemkGoZ7wgtpmw"/>
    <edges xmi:id="_nxtxQD77Eem-KpZWLMhx-Q" type="Transition" element="_nxsjID77Eem-KpZWLMhx-Q" source="_tUHFJz2CEemkGoZ7wgtpmw" target="_Oe--MD76Eem-KpZWLMhx-Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_nxuYUz77Eem-KpZWLMhx-Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_nxuYVD77Eem-KpZWLMhx-Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_nxu_YD77Eem-KpZWLMhx-Q"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_nxuYUD77Eem-KpZWLMhx-Q" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_nxuYUj77Eem-KpZWLMhx-Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_nxuYUT77Eem-KpZWLMhx-Q" points="[5, 3, -241, -180]$[5, 105, -241, -78]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_nxyCsD77Eem-KpZWLMhx-Q" id="(0.13333333333333333,0.7333333333333333)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_nxyCsT77Eem-KpZWLMhx-Q" id="(0.8384779821444125,0.12362828537525623)"/>
    </edges>
    <edges xmi:id="_fuIp4ED_Eemex77KAI0DhQ" type="Transition" element="_fuCjQED_Eemex77KAI0DhQ" source="_Oe--MD76Eem-KpZWLMhx-Q" target="_cNkGIED_Eemex77KAI0DhQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_fuIp5ED_Eemex77KAI0DhQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_fuIp5UD_Eemex77KAI0DhQ" fontHeight="10"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_fuIp5kD_Eemex77KAI0DhQ" x="74" y="-16"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_fuIp4UD_Eemex77KAI0DhQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_fuIp40D_Eemex77KAI0DhQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_fuIp4kD_Eemex77KAI0DhQ" points="[247, 24, -471, -46]$[558, 24, -160, -46]$[558, 70, -160, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_fuOwgED_Eemex77KAI0DhQ" id="(0.5664985531666954,0.012952030501867485)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_fuOwgUD_Eemex77KAI0DhQ" id="(0.9420639757524147,0.0)"/>
    </edges>
    <edges xmi:id="_FCJS8UEAEemex77KAI0DhQ" type="Transition" element="_FCJS8EEAEemex77KAI0DhQ" source="_X-CBtUfxEemlR61uiwgvjg" target="_X-CBv0fxEemlR61uiwgvjg">
      <children xsi:type="notation:DecorationNode" xmi:id="_FCJS9UEAEemex77KAI0DhQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_FCJS9kEAEemex77KAI0DhQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_FCJS90EAEemex77KAI0DhQ"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_FCJS8kEAEemex77KAI0DhQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_FCJS9EEAEemex77KAI0DhQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_FCJS80EAEemex77KAI0DhQ" points="[1, -1, 138, -60]$[1, 20, 138, -39]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_FCPZkEEAEemex77KAI0DhQ" id="(0.4,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_FCPZkUEAEemex77KAI0DhQ" id="(0.025330417316252803,0.47465061202514913)"/>
    </edges>
    <edges xmi:id="_qH4MwESgEemqgdDY3YLyVg" type="Transition" element="_qHw4AESgEemqgdDY3YLyVg" source="_X-CBv0fxEemlR61uiwgvjg" target="_X-CBy0fxEemlR61uiwgvjg">
      <children xsi:type="notation:DecorationNode" xmi:id="_qH6B8ESgEemqgdDY3YLyVg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_qH6B8USgEemqgdDY3YLyVg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_qH6B8kSgEemqgdDY3YLyVg" x="-6" y="-24"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_qH4MwUSgEemqgdDY3YLyVg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_qH5a4ESgEemqgdDY3YLyVg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_qH4MwkSgEemqgdDY3YLyVg" points="[-1, 19, -38, -112]$[-1, 124, -38, -7]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_qH9sUESgEemqgdDY3YLyVg" id="(0.4433002064429401,0.7754329004329005)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_qH-TYESgEemqgdDY3YLyVg" id="(0.5795053003533569,0.09433962264150945)"/>
    </edges>
    <edges xmi:id="_wS_24EfwEemlR61uiwgvjg" type="Transition" element="_wS-owEfwEemlR61uiwgvjg" source="_X-CB10fxEemlR61uiwgvjg" target="_uoebhUgAEemlR61uiwgvjg">
      <children xsi:type="notation:DecorationNode" xmi:id="_wTAd8UfwEemlR61uiwgvjg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_wTAd8kfwEemlR61uiwgvjg" fontHeight="10"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_wTAd80fwEemlR61uiwgvjg" x="-14" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_wS_24UfwEemlR61uiwgvjg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_wTAd8EfwEemlR61uiwgvjg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_wS_24kfwEemlR61uiwgvjg" points="[-8, 0, 256, -94]$[-8, 93, 256, -1]$[-288, 93, -24, -1]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_wTC6MEfwEemlR61uiwgvjg" id="(1.0,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_wTC6MUfwEemlR61uiwgvjg" id="(1.141875225187772,0.45345242184816215)"/>
    </edges>
    <edges xmi:id="_JHHQwEfxEemlR61uiwgvjg" type="Transition" element="_JHGpsEfxEemlR61uiwgvjg" source="_X-CB10fxEemlR61uiwgvjg" target="_uoebkUgAEemlR61uiwgvjg">
      <children xsi:type="notation:DecorationNode" xmi:id="_JHH30UfxEemlR61uiwgvjg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_JHH30kfxEemlR61uiwgvjg" fontHeight="10"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_JHH300fxEemlR61uiwgvjg" x="15" y="-15"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_JHHQwUfxEemlR61uiwgvjg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_JHH30EfxEemlR61uiwgvjg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_JHHQwkfxEemlR61uiwgvjg" points="[-8, 0, 333, 77]$[-8, -84, 333, -7]$[-347, -84, -6, -7]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_JHKUEEfxEemlR61uiwgvjg" id="(1.0,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_JHKUEUfxEemlR61uiwgvjg" id="(1.0335566983533324,0.632183908045977)"/>
    </edges>
    <edges xmi:id="_iPd1QEfxEemlR61uiwgvjg" type="Transition" element="_iPcnIEfxEemlR61uiwgvjg" source="_uoebqUgAEemlR61uiwgvjg" target="_uoebnUgAEemlR61uiwgvjg">
      <children xsi:type="notation:DecorationNode" xmi:id="_iPd1REfxEemlR61uiwgvjg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_iPd1RUfxEemlR61uiwgvjg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_iPd1RkfxEemlR61uiwgvjg" x="-3" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_iPd1QUfxEemlR61uiwgvjg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_iPd1Q0fxEemlR61uiwgvjg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_iPd1QkfxEemlR61uiwgvjg" points="[-1, 0, -62, 7]$[55, 0, -6, 7]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_iPfqcEfxEemlR61uiwgvjg" id="(1.0,0.4666666666666667)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_iPfqcUfxEemlR61uiwgvjg" id="(0.03208333333333333,0.30844155844155846)"/>
    </edges>
    <edges xmi:id="_kFLZsEfxEemlR61uiwgvjg" type="Transition" element="_kFKyoEfxEemlR61uiwgvjg" source="_X-CB10fxEemlR61uiwgvjg" target="_uoebnUgAEemlR61uiwgvjg">
      <children xsi:type="notation:DecorationNode" xmi:id="_kFMAwUfxEemlR61uiwgvjg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_kFMAwkfxEemlR61uiwgvjg" fontHeight="10"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_kFMAw0fxEemlR61uiwgvjg" x="-23" y="5"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_kFLZsUfxEemlR61uiwgvjg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_kFMAwEfxEemlR61uiwgvjg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_kFLZskfxEemlR61uiwgvjg" points="[0, -8, 478, -6]$[-325, -8, 153, -6]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_kFN18EfxEemlR61uiwgvjg" id="(0.0,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_kFN18UfxEemlR61uiwgvjg" id="(0.23833333333333337,0.48701298701298695)"/>
    </edges>
    <edges xmi:id="_mattsEfxEemlR61uiwgvjg" type="Transition" element="_masfkEfxEemlR61uiwgvjg" source="_uoebkUgAEemlR61uiwgvjg" target="_uoebnUgAEemlR61uiwgvjg">
      <children xsi:type="notation:DecorationNode" xmi:id="_matttEfxEemlR61uiwgvjg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_matttUfxEemlR61uiwgvjg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_mauUwEfxEemlR61uiwgvjg" x="-5" y="-36"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_mattsUfxEemlR61uiwgvjg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_matts0fxEemlR61uiwgvjg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_mattskfxEemlR61uiwgvjg" points="[-14, 8, 66, -27]$[-14, 31, 66, -4]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_mawJ8EfxEemlR61uiwgvjg" id="(0.5403875123370214,0.9080459770114943)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_mawJ8UfxEemlR61uiwgvjg" id="(0.1375,0.08116883116883118)"/>
    </edges>
    <edges xmi:id="_ovRKQEfxEemlR61uiwgvjg" type="Transition" element="_ovP8IEfxEemlR61uiwgvjg" source="_uoebhUgAEemlR61uiwgvjg" target="_uoebnUgAEemlR61uiwgvjg">
      <children xsi:type="notation:DecorationNode" xmi:id="_ovRxUUfxEemlR61uiwgvjg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ovRxUkfxEemlR61uiwgvjg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ovRxU0fxEemlR61uiwgvjg" x="-8" y="24"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_ovRKQUfxEemlR61uiwgvjg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_ovRxUEfxEemlR61uiwgvjg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_ovRKQkfxEemlR61uiwgvjg" points="[7, 0, 85, 48]$[7, -30, 85, 18]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ovTmgEfxEemlR61uiwgvjg" id="(0.24550317341537098,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ovTmgUfxEemlR61uiwgvjg" id="(0.22458333333333333,0.6818181818181819)"/>
    </edges>
    <edges xmi:id="_Vji-cEgAEemlR61uiwgvjg" type="Transition" element="_VjiXYEgAEemlR61uiwgvjg" source="_uoeb1kgAEemlR61uiwgvjg" target="_uoebykgAEemlR61uiwgvjg">
      <children xsi:type="notation:DecorationNode" xmi:id="_VjjlgUgAEemlR61uiwgvjg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_VjjlgkgAEemlR61uiwgvjg" fontHeight="10"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Vjjlg0gAEemlR61uiwgvjg" x="-7" y="-12"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Vji-cUgAEemlR61uiwgvjg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_VjjlgEgAEemlR61uiwgvjg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Vji-ckgAEemlR61uiwgvjg" points="[0, -20, -361, 1]$[350, -20, -11, 1]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_VjmBwEgAEemlR61uiwgvjg" id="(1.0,0.6415094339622641)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_VjmBwUgAEemlR61uiwgvjg" id="(0.16348529081518076,0.34352635003253096)"/>
    </edges>
    <edges xmi:id="_W5F1EEgAEemlR61uiwgvjg" type="Transition" element="_W5FOAEgAEemlR61uiwgvjg" source="_uoebykgAEemlR61uiwgvjg" target="_uoeb1kgAEemlR61uiwgvjg">
      <children xsi:type="notation:DecorationNode" xmi:id="_W5GcIEgAEemlR61uiwgvjg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_W5GcIUgAEemlR61uiwgvjg" fontHeight="10"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_W5GcIkgAEemlR61uiwgvjg" x="5" y="-11"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_W5F1EUgAEemlR61uiwgvjg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_W5F1E0gAEemlR61uiwgvjg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_W5F1EkgAEemlR61uiwgvjg" points="[0, 6, 383, 0]$[-350, 6, 33, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_W5IRUEgAEemlR61uiwgvjg" id="(0.0,0.4996746909564086)"/>
    </edges>
    <edges xmi:id="_YnLHgEgAEemlR61uiwgvjg" type="Transition" element="_YnKgcEgAEemlR61uiwgvjg" source="_SZ-wAEgBEemlR61uiwgvjg" target="_uoebykgAEemlR61uiwgvjg">
      <children xsi:type="notation:DecorationNode" xmi:id="_YnLukUgAEemlR61uiwgvjg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_YnLukkgAEemlR61uiwgvjg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_YnLuk0gAEemlR61uiwgvjg" x="-3" y="-9"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_YnLHgUgAEemlR61uiwgvjg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_YnLukEgAEemlR61uiwgvjg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_YnLHgkgAEemlR61uiwgvjg" points="[1, -4, -253, -32]$[257, -4, 3, -32]$[257, 25, 3, -3]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_YnM8sEgAEemlR61uiwgvjg" id="(0.8,0.6666666666666666)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_YnNjwEgAEemlR61uiwgvjg" id="(0.38984953963620034,0.062459336369551074)"/>
    </edges>
    <edges xmi:id="_eMw3AEgAEemlR61uiwgvjg" type="Transition" element="_eMvo4EgAEemlR61uiwgvjg" source="_SZ-wAEgBEemlR61uiwgvjg" target="_uoeb1kgAEemlR61uiwgvjg">
      <children xsi:type="notation:DecorationNode" xmi:id="_eMxeEUgAEemlR61uiwgvjg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_eMxeEkgAEemlR61uiwgvjg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_eMxeE0gAEemlR61uiwgvjg" x="-3" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_eMw3AUgAEemlR61uiwgvjg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_eMxeEEgAEemlR61uiwgvjg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_eMw3AkgAEemlR61uiwgvjg" points="[0, -3, 144, -39]$[-147, -3, -3, -39]$[-147, 36, -3, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_eMzTQEgAEemlR61uiwgvjg" id="(0.06666666666666667,0.6)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_eMzTQUgAEemlR61uiwgvjg" id="(0.5285714285714286,0.018867924528301886)"/>
    </edges>
    <edges xmi:id="_hWoyAEgAEemlR61uiwgvjg" type="Transition" element="_hWnj4EgAEemlR61uiwgvjg" source="_uoebnUgAEemlR61uiwgvjg" target="_uoebs0gAEemlR61uiwgvjg">
      <children xsi:type="notation:DecorationNode" xmi:id="_hWoyBEgAEemlR61uiwgvjg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_hWoyBUgAEemlR61uiwgvjg" fontHeight="10"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_hWoyBkgAEemlR61uiwgvjg" x="60" y="-87"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_hWoyAUgAEemlR61uiwgvjg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_hWoyA0gAEemlR61uiwgvjg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_hWoyAkgAEemlR61uiwgvjg" points="[14, 26, -170, -176]$[14, 188, -170, -14]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_hWqAIEgAEemlR61uiwgvjg" id="(0.275,0.5519480519480519)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_hWqAIUgAEemlR61uiwgvjg" id="(0.5694980694980695,0.06770833333333333)"/>
    </edges>
    <edges xmi:id="_j2dqcEgAEemlR61uiwgvjg" type="Transition" element="_j2dDYEgAEemlR61uiwgvjg" source="_uoebs0gAEemlR61uiwgvjg" target="_uoebnUgAEemlR61uiwgvjg">
      <children xsi:type="notation:DecorationNode" xmi:id="_j2eRgUgAEemlR61uiwgvjg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_j2eRgkgAEemlR61uiwgvjg" fontHeight="10"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_j2eRg0gAEemlR61uiwgvjg" x="-36" y="-63"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_j2dqcUgAEemlR61uiwgvjg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_j2eRgEgAEemlR61uiwgvjg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_j2dqckgAEemlR61uiwgvjg" points="[74, 0, 30, 193]$[74, -162, 30, 31]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_j2ffoEgAEemlR61uiwgvjg" id="(0.08687258687258688,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_xKMxYEgAEemlR61uiwgvjg" id="(0.1375,0.44642857142857145)"/>
    </edges>
    <edges xmi:id="_BXvXAEgBEemlR61uiwgvjg" type="Transition" element="_BXuI4EgBEemlR61uiwgvjg" source="_X-CBy0fxEemlR61uiwgvjg" target="_Am6-EEgBEemlR61uiwgvjg">
      <children xsi:type="notation:DecorationNode" xmi:id="_BXvXBEgBEemlR61uiwgvjg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_BXvXBUgBEemlR61uiwgvjg" fontHeight="10"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_BXvXBkgBEemlR61uiwgvjg" x="9" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_BXvXAUgBEemlR61uiwgvjg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_BXvXA0gBEemlR61uiwgvjg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_BXvXAkgBEemlR61uiwgvjg" points="[19, 0, 180, -30]$[19, 29, 180, -1]$[-155, 29, 6, -1]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_BXxMMEgBEemlR61uiwgvjg" id="(0.38622754491017963,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_wT04IEgCEemlR61uiwgvjg" id="(0.5,0.5)"/>
    </edges>
    <edges xmi:id="_V8LEYEgBEemlR61uiwgvjg" type="Transition" element="_V8J2QEgBEemlR61uiwgvjg" source="_uoebwEgAEemlR61uiwgvjg" target="_SZ-wAEgBEemlR61uiwgvjg">
      <children xsi:type="notation:DecorationNode" xmi:id="_V8LEZEgBEemlR61uiwgvjg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_V8LEZUgBEemlR61uiwgvjg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_V8LrcEgBEemlR61uiwgvjg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_V8LEYUgBEemlR61uiwgvjg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_V8LEY0gBEemlR61uiwgvjg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_V8LEYkgBEemlR61uiwgvjg" points="[-3, -2, -66, -37]$[64, 35, 1, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_V8NgoEgBEemlR61uiwgvjg" id="(1.0,0.4)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_V8NgoUgBEemlR61uiwgvjg" id="(0.4666666666666667,0.0)"/>
    </edges>
    <edges xmi:id="_rspRoEgCEemlR61uiwgvjg" type="Transition" element="_rsoDgEgCEemlR61uiwgvjg" source="_Am6-EEgBEemlR61uiwgvjg" target="_uoebs0gAEemlR61uiwgvjg">
      <children xsi:type="notation:DecorationNode" xmi:id="_rspRpEgCEemlR61uiwgvjg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_rspRpUgCEemlR61uiwgvjg" fontHeight="10"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_rspRpkgCEemlR61uiwgvjg" x="17" y="16"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_rspRoUgCEemlR61uiwgvjg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_rspRo0gCEemlR61uiwgvjg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_rspRokgCEemlR61uiwgvjg" points="[7, 0, 163, -80]$[7, 73, 163, -7]$[-152, 73, 4, -7]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_rsrt4EgCEemlR61uiwgvjg" id="(0.0,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_rsrt4UgCEemlR61uiwgvjg" id="(0.9925373134328358,0.7363636363636363)"/>
    </edges>
    <edges xmi:id="_f7ZmQEgEEemlR61uiwgvjg" type="Transition" element="_f7Y_MEgEEemlR61uiwgvjg" source="_Am6-EEgBEemlR61uiwgvjg" target="_X-CB10fxEemlR61uiwgvjg">
      <children xsi:type="notation:DecorationNode" xmi:id="_f7ZmREgEEemlR61uiwgvjg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_f7ZmRUgEEemlR61uiwgvjg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_f7aNUEgEEemlR61uiwgvjg" x="-62" y="16"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_f7ZmQUgEEemlR61uiwgvjg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_f7ZmQ0gEEemlR61uiwgvjg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_f7ZmQkgEEemlR61uiwgvjg" points="[7, -15, 94, 260]$[7, -275, 94, 0]$[-86, -275, 1, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_f7cpkEgEEemlR61uiwgvjg" id="(0.0,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_f7cpkUgEEemlR61uiwgvjg" id="(0.9333333333333333,0.4666666666666667)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
